<!DOCTYPE html>
<html>
  <head>
    <title>ARTIST</title>
    <link rel="stylesheet" href="../Asset/CSS/styleArtis.css" />
  </head>
  <body>
    <nav>
      <div class="main_container">
        <a href="../index.html"
          ><div class="menu" style="font-size: xx-large; font-weight: bolder">
            Sound Fest
          </div></a
        >
        <a href="../Component/SeatPlan.html">
          <div
            class="getticket"
            style="
              float: right;
              border-style: solid;
              border-radius: 50px;
              border-width: 0px;
              background-color: blue;
              border-color: blue;
            "
          >
            Get Ticket
          </div></a
        >
        <a href="../Component/team.html">
          <div class="menu" style="float: right">Our Team</div></a
        >
        <a href="indexmerch.html"
          ><div class="menu" style="float: right">Merchandise</div></a
        >
        <a href="../Component/gallery.html">
          <div class="menu" style="float: right">Gallery</div></a
        >
        <a href="#"><div class="menu" style="float: right">Artist</div></a>
      </div>
    </nav>
    <section class="gueststar">
      <h2>ARTIST</h2>
      <div id="fotoartis">
        <div>
          <img src="../Asset/IMG/Foto Artis/Afgan.jpeg" alt="" />
          <h3>Afgan</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Isyana Sarasvati.jpg" alt="" />
          <h3>Isyana</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Mahalini.jpg" alt="" />
          <h3>Mahalini</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Tulus.jpg" alt="" />
          <h3>Tulus</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Feast.jpeg" alt="" />
          <h3>Feast</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Raisa.jpg" alt="" />
          <h3>Raisa</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Tiara Andini.jpeg" alt="" />
          <h3>Tiara Andini</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/The Weeknd.jpeg" alt="" />
          <h3>The Weeknd</h3>
        </div>

        <div>
          <img src="../Asset/IMG/Foto Artis/Yura Yunita.jpeg" alt="" />
          <h3>Yura Yunita</h3>
        </div>
      </div>
    </section>

    <section class="contact">
      <h3>Sound Fest</h3>
      <span>
        <div id="logoklik">
          <a href="https://twitter.com"
            ><img src="../Asset/IMG/Sosmed/81609.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.instagram.com"
            ><img src="../asset/IMG/Sosmed/87390.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.tiktok.com"
            ><img
              src="../asset/IMG/Sosmed/TIKTOK_LOGO-removebg-preview.png"
              alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.youtube.com"
            ><img src="../asset/IMG/Sosmed/youtubeLogo.png" alt=""
          /></a>
        </div>
      </span>
      <h4 style="font-size: 12px; font-weight: 600; padding-top: 0">
        Sound Fest 2023 All Reserved
      </h4>
    </section>
  </body>
</html>
