<!DOCTYPE html>
<html>
  <head>
    <title>MERCHANDISE</title>
    <link rel="stylesheet" href="../Asset/CSS/stylemerch.css" />
  </head>
  <body>
    <nav>
      <div class="main_container">
        <a href="../index.html"
          ><div class="menu" style="font-size: xx-large; font-weight: bolder">
            Sound Fest
          </div></a
        >
        <a href="SeatPlan.html">
          <div
            class="getticket"
            style="
              float: right;
              border-style: solid;
              border-radius: 50px;
              border-width: 0px;
              background-color: blue;
              border-color: blue;
            "
          >
            Get Ticket
          </div></a
        >

        <a href="../Component/team.html">
          <div class="menu" style="float: right">Our Team</div></a
        >
        <a href="#"><div class="menu" style="float: right">Merchandise</div></a>
        <a href="../Component/"></a>
        <a href="../Component/gallery.html"
          ><div class="menu" style="float: right">Gallery</div></a
        >
        <a href="artis.html"
          ><div class="menu" style="float: right">Artist</div></a
        >
      </div>
    </nav>
    <header>
      <h1>MERCHANDISE</h1>
    </header>
    <div class="search_container">
      <input type="text" placeholder="Search by keyword" class="searchbar" />
      <button id="search_button">
        <img
          id="search"
          src="../Asset/IMG/merch/search icon.png"
          alt="search icon"
        />
      </button>
    </div>
    <section class="catalogue">
      <div class="card">
        <a href="../Asset/IMG/merch/kaos.jpg"
          ><img src="../Asset/IMG/merch/kaos.jpg" alt="foto merch kaos"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color white"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">XS-XXL</p>
        </div>

        <div class="title">T-Shirt Sound Fest 2023 Lengan Pendek</div>
        <p class="price">IDR 185.000</p>
      </div>
      <div class="card">
        <a href="../Asset/IMG/merch/sweatshirt.jpg">
          <img
            src="../Asset/IMG/merch/sweatshirt.jpg"
            alt="foto merch sweatshirt"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color white"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">XS-XXL</p>
        </div>
        <div class="title">Shirt Sound Fest 2023 Lengan Panjang</div>
        <p class="price">IDR 210.000</p>
      </div>
      <div class="card">
        <a href="../Asset/IMG/merch/lanyard.jpg"
          ><img src="../Asset/IMG/merch/lanyard.jpg" alt="foto merch lanyard"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">One Size</p>
        </div>
        <div class="title">Lanyard Sound Fest 2023</div>
        <p class="price">IDR 75.000</p>
      </div>
      <div class="card">
        <a href="../Asset/IMG/merch/totebag.jpg"
          ><img src="../Asset/IMG/merch/totebag.jpg" alt="foto merch totebag"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color white"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">One Size</p>
        </div>
        <div class="title">Tote Bag Sound Fest 2023</div>
        <p class="price">IDR 165.000</p>
      </div>
      <div class="card">
        <a href="../Asset/IMG/merch/tumbler.jpg"
          ><img src="../Asset/IMG/merch/tumbler.jpg" alt="foto merch tumbler"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">650 mL</p>
        </div>
        <div class="title">Tumbler Sound Fest 2023</div>
        <p class="price">IDR 95.000</p>
      </div>
      <div class="card">
        <a href="../Asset/IMG/merch/sticker.jpg"
          ><img src="../Asset/IMG/merch/sticker.jpg" alt="foto merch sticker"
        /></a>
        <div class="option">
          <div>
            <div class="color black"></div>
            <div class="color white"></div>
            <div class="color blue"></div>
          </div>
          <p class="size">5 pcs/pack</p>
        </div>
        <div class="title">Sticker Pack Sound Fest 2023</div>
        <p class="price">IDR 35.000</p>
      </div>
    </section>
    <div id="seemore">
      <button>See More</button>
    </div>
    <section class="contact">
      <h3>Sound Fest</h3>

      <span>
        <div id="logoklik">
          <a href="https://twitter.com"
            ><img src="../Asset/IMG/Sosmed/81609.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.instagram.com"
            ><img src="../Asset/IMG/Sosmed/87390.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.tiktok.com"
            ><img
              src="../Asset/IMG/Sosmed/TIKTOK_LOGO-removebg-preview.png"
              alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.youtube.com"
            ><img src="../Asset/IMG/Sosmed/youtubeLogo.png" alt=""
          /></a>
        </div>
      </span>
      <h4>Sound Fest 2023 All Reserved</h4>
    </section>
  </body>
</html>
