<!DOCTYPE html>
<html>
  <head>
    <title>Get Ticket</title>
    <link rel="stylesheet" href="../Asset/CSS/styleTicket.css" />
  </head>
  <body>
    <nav>
      <div class="main_container">
        <a href="../index.html"
          ><div class="menu" style="font-size: xx-large; font-weight: bolder">
            Sound Fest
          </div></a
        >
        <a href="#">
          <div
            class="getticket"
            style="
              float: right;
              border-style: solid;
              border-radius: 50px;
              border-width: 0px;
              background-color: blue;
              border-color: blue;
            "
          >
            Get Ticket
          </div></a
        >

        <a href="../Component/team.html">
          <div class="menu" style="float: right">Our Team</div></a
        >
        <a href="../Component/indexmerch.html"
          ><div class="menu" style="float: right">Merchandise</div></a
        >
        <a href="../Component/gallery.html">
          <div class="menu" style="float: right">Gallery</div></a
        >
        <a href="../Component/artis.html"
          ><div class="menu" style="float: right">Artist</div></a
        >
      </div>
    </nav>
    <header>SEAT PLAN</header>
    <section class="img">
      <img src="../Asset/IMG/Seat plan.jpg" />
    </section>

    <section class="kotak">
      <div class="Tanggal">
        <div class="info">INFO PENTING</div>
        <h1>- Tanggal: 4-6 Agustus 2023</h1>
        <h2>- Waktu: 19.00 - 21.00</h2>
        <h3>- Venue: Jakarta International Stadium (JIS)</h3>
        <h4>- E-tiket akan dikirimkan melalui email</h4>
        <h5>- Penukaran Tiket: Hari H Event</h5>
        <h6>- Open Gate: 17.00 WIB</h6>
      </div>
    </section>

    <section class="tiket">
      <div class="d">
        <div class="row">
          <h1>DIAMOND Day 1</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 350.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
      <div class="d">
        <div class="row">
          <h1>DIAMOND Day 2</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 350.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
      <div class="d">
        <div class="row">
          <h1>DIAMOND Day 3</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 350.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
      <div class="d">
        <div class="row">
          <h1>REGULER Day 1</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 250.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
      <div class="d">
        <div class="row">
          <h1>REGULER Day 2</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 250.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
      <div class="d">
        <div class="row">
          <h1>REGULER Day 3</h1>
          <h3>Detail</h3>
        </div>
        <div class="row">
          <h2>IDR 250.000</h2>
          <button>Pilih Tiket</button>
        </div>
      </div>
    </section>
    <section class="contact">
      <h3>Sound Fest</h3>

      <span>
        <div id="logoklik">
          <a href="https://twitter.com"
            ><img src="../Asset/IMG/Sosmed/81609.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.instagram.com"
            ><img src="../Asset/IMG/Sosmed/87390.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.tiktok.com"
            ><img
              src="../Asset/IMG/Sosmed/TIKTOK_LOGO-removebg-preview.png"
              alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.youtube.com"
            ><img src="../Asset/IMG/Sosmed/youtubeLogo.png" alt=""
          /></a>
        </div>
      </span>
      <h4 style="font-size: 12px; font-weight: 600; padding-top: 0">
        Sound Fest 2023 All Reserved
      </h4>
    </section>
  </body>
</html>
