<!DOCTYPE html>
<html>
  <head>
    <title>MEET THE TEAM</title>
    <link rel="stylesheet" href="../Asset/CSS/teamstyle.css" />
  </head>
  <body>
    <nav>
      <div class="main_container">
        <a href="../index.html"
          ><div class="menu" style="font-size: xx-large; font-weight: bolder">
            Sound Fest
          </div></a
        >
        <a href="../Component/SeatPlan.html">
          <div
            class="getticket"
            style="
              float: right;
              border-style: solid;
              border-radius: 50px;
              border-width: 0px;
              background-color: blue;
              border-color: blue;
            "
          >
            Get Ticket
          </div></a
        >
        <div class="menu" style="float: right">Our Team</div>
        <a href="../Component/indexmerch.html"
          ><div class="menu" style="float: right">Merchandise</div></a
        >
        <a href="../Component/gallery.html"
          ><div class="menu" style="float: right">Gallery</div></a
        >
        <a href="../Component/artis.html"
          ><div class="menu" style="float: right">Artist</div></a
        >
      </div>
    </nav>

    <header>
      <h1>MEET THE TEAM</h1>
    </header>

    <section class="galeriku">
      <div id="foto">
        <div>
          <img src="../Asset/IMG/aris.jpg" alt="" />
          <h4>Aris Munandar</h4>
        </div>

        <div>
          <img src="../Asset/IMG/violla.jpg" alt="" />
          <h4>Violla Hans</h4>
        </div>

        <div>
          <img src="../Asset/IMG/jovi.jpg" alt="" />
          <h4>Jovita Vania</h4>
        </div>

        <div>
          <img src="../Asset/IMG/Mer.jpg.jpg" alt="" />
          <h4>Merlina</h4>
        </div>
      </div>
    </section>

    <section class="contact">
      <h3>Sound Fest</h3>

      <span>
        <div id="logoklik">
          <a href="https://twitter.com"
            ><img src="../Asset/IMG/Sosmed/81609.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.instagram.com"
            ><img src="../Asset/IMG/Sosmed/87390.png" alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.tiktok.com"
            ><img
              src="../Asset/IMG/Sosmed/TIKTOK_LOGO-removebg-preview.png"
              alt=""
          /></a>
        </div>

        <div id="logoklik">
          <a href="https://www.youtube.com"
            ><img src="../Asset/IMG/Sosmed/youtubeLogo.png" alt=""
          /></a>
        </div>
      </span>
      <h4 style="font-size: 12px; font-weight: 600; padding-top: 0">
        Sound Fest 2023 All Reserved
      </h4>
    </section>
  </body>
</html>
